import store from '../../store';

style {
  div {
    color: green;
  }
}

<div on-click('onClick')>rest component ${store.getState().value} OK </div>

class {
  onClick() {
    store.dispatch({ type: 'INCREMENT' });
  }
  onMount() {
    store.subscribe(() => {
      this.forceUpdate();
    });
  }
}


